layout {
    focus-ring {
        active-color   "#e6c184"
        inactive-color "#16130f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#e6c184"
        inactive-color "#16130f"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#e6c184"
        inactive-color "#ad8c54"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#e6c18480"
    }
}

recent-windows {
    highlight {
        active-color "#e6c184"
        urgent-color "#ffb4ab"
    }
}
