[Unit]
After=network.target
Description=1Password

[Install]
Alias=1password.service
WantedBy=default.target

[Service]
Type=exec
TimeoutSec=60
ExecStart=/opt/1Password/1password --silent
